body {
    background: linear-gradient(to right, #293133, #7d0b5758, #293133);
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

#container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#container img:hover {
    cursor: pointer;
    transform: scale(1.05); 
}

#imageModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 35px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

#imageModal img {
    margin: auto;
    display: block;
    width: 60%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    cursor: pointer;
}



